<!DOCTYPE html>
<html>
  <head>
    <title>
      Gota en un océano de violencia
    </title>
    <meta charset="UTF-8">
    <link href="./proyecto_style.css" rel="stylesheet">
    <link href="/blog/header_footer_style.css" rel="stylesheet">
    <script src="./behavior_proyecto.js"></script>
    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://proyecto-holberton.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script> <!--- disqus --->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v12.0" nonce="UyNLuv0r"></script> <!--- facebook --->
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> <!--- disqus --->
  </head>
  <body>
    <header>
      <span class="logo">
        <a href="/blog/index.html">Blog</a>
      </span>
      <nav>
        <ul>
          <li>
            <a href="proyecto.html" class="proyecto">proyecto</a>
          </li> <!--- proyecto--->
          <li>
            <a href="/blog/views/playground/playground.html" class="playground">¿Por qué Holberton?</a>
          </li> <!--- por qué Holberton--->
        </ul>
      </nav>
    </header> <!--- navegation var--->
    <main>
      <article>
        <div style="float:left; margin: 1em">
          <figure>
            <img id="input_img" src="/blog/images/input.jpg" alt="ilustración 1">
            <figcaption><em>ilustración 1.</em></figcaption>
          </figure>
          <div id="modal_proyecto_01" class="modal">
            <span id="close_01" class="close">&times;</span>
            <img class="modal_content_vertical" id="img01">
            <div id="caption_01" class="caption"></div>
          </div>
        </div> <!--- ilustración 1--->
        <h1>Gota en un océano</h1>
          <p>
            Cuando la profe propuso que hiciéramos un trabajo en el que expresáramos cómo en algún
            momento de la historia colombiana, una situación característica de nuestro país nos había
            a nosotros o nuestras familias, solo podía pensar en el hombre de la foto
            (<em>ilustración 1, clic sobre la imagen para agrandar</em>). Este caballero se llamaba Manuel Jaramillo, un pariente que
            jamás conocí.
          </p>
          <p>
            Soy Santiago Bedoya Arias, tengo 23 años y me encuentro terminando mi carrera universitaria
            en Administración de Negocios. Nací y crecí en Rionegro, Antioquia. Para mí es un pueblo,
            para otros ya es una ciudad. Se encuentra a 40 minutos de Medellín. Para los que no son de
            esta zona seguramente han oído hablar de este lugar, ya que aquí se encuentra el aeropuerto
            internacional José María Córdoba, uno de los principales de Colombia.
          </p>
          <p>
            Rionegro puede considerarse un pueblo en expansión, en los últimos años ha presentado un crecimiento poblacional y económico acelerado. La inversión pública es elevada, tiene zonas industriales pujantes y cada vez goza de más lugares para distraerse como centros comerciales, restaurantes y teatros. En términos generales Rionegro es un buen vividero, el sueño de muchas personas es tener su hogar aquí, sobre todo para quienes están en la ciudad.
          </p>
          <p>
            Siempre he llevado una vida tranquila, pues este lugar es bastante seguro y se aleja de muchos de los males que tienen las grandes ciudades. Sin embargo, esto no fue siempre así. Hace no muchos años, el Oriente Antioqueño y otras regiones del país estaban cayendo en manos de las FARC y el ELN. Esto condujo al nacimiento de varios grupos de autodefensas que posteriormente se unirían hasta llegar a llamarse Autodefensas Unidas de Colombia (AUC) y así agravándose la crisis de violencia que vivía el país.
          </p>
          <p>
            La historia de Manuel comienza cuando mi madre junto a sus primas deciden emprender y establecen un cultivo de exportación de flor nacional. Un día común y corriente, Diana Jaramillo (una de las socias) estaba saliendo de la empresa en su vehículo cuando fue acorralada por varios hombres que portaban armas de fuego, fue secuestrada el 10 de octubre de 1998 por delincuentes que después la venderían al frente 47 de las FARC. El único canal que tenía mi familia para “comunicarse” con ella era mediante el programa radial
            <em>“Las voces del secuestro”</em> (organización creada por Herbin Hoyos para que las personas puedan dejar mensajes a los seres queridos que se encuentren secuestrados). Al quinto mes desde que Diana fue capturada, mi familia pudo comenzar a negociar su rescate junto con la ayuda de Alex Lopera quien era el mediador de paz para Antioquia y cumpliría el papel de intermediador entre las FARC y la familia.
          </p>
          <p>
            Una vez llegado a un acuerdo, Manuel quien era hermano de Diana, insistía en acompañar al grupo rescatista que llevaba el dinero a pesar de que Alex no estaba de acuerdo, pues este insistía que algo malo le podría suceder a Manuel si los acompañaba, pero a pesar de las advertencias, no hubo poder humano que lo hiciera cambiar de opinión.
          </p>
          <p>
            En la mañana del 10 de marzo de 1999, transcurridos 6 meses desde el secuestro, Manuel junto a Alex y Luis Fernando Londoño (quien cumplía el papel de guía) emprendieron camino rumbo a Sonsón donde se encontraría con el frente 47 de las FARC para entregar el dinero en efectivo. Los rescatistas por precaución deciden esconder el dinero en los neumáticos de la camioneta en la que se transportaban y así evitar que alguien lo pudiera ver.
          </p>
          <p>
            A la una y media de la madrugada, Fabiola (madre del mediador de paz) recibe una llamada:
            “Aló, aló, ¿aloooo Alex, Alex, hijo eres tú? - preguntó con aprensión.
            Una voz débil, quejumbrosa fue lo que escuchó al otro lado de la línea.
            - Pero ¿dónde estás? Qué te pasa hijo, ¿qué te pasa?, preguntaba la madre con insistencia sin obtener respuesta alguna. La llamada se perdió”.
            <a href="https://www.eltiempo.com/archivo/documento/MAM-913476">(Revista El Tiempo, 1999)</a>.
            Esto fue lo último que se supo de ellos.
          </p>
          <p>
            Transcurridos varios dias desde la desaparición, La familia de Alex junto a la mía acude a las autoridades y se comienza a realizar una investigación. Después de hacer averiguaciones en la zona, unos campesinos testifican que el ejército había detenido el vehículo en el que se movilizaba el grupo rescatista y los dejan casi todo el día esperando, luego les permiten continuar, pero más adelante los detienen nuevamente otros soldados (esta vez de manera informal) y les dispararon sin piedad. Los uniformados sacan las bolsas de los neumáticos y luego hacen que la camioneta caiga por un desfiladero de 40 metros. Manuel y Luis murieron al instante, Alex permaneció un tiempo más con vida y pudo realizar la última llamada de su vida a su madre.
          </p>
          <p>
            Al parecer había un informante que filtro la cantidad de dinero que se llevaba en el carro y fue el mismo ejército quien ejecuto el robo y cometió el asesinato de los tres hombres. Esto se supo gracias a que uno de los soldados involucrados conocía a Manuel y dio su testimonio a las autoridades, luego se le unieron otros compañeros para hablar de lo sucedido.
          </p>
          <p>
            En una impresión de la revista el tiempo publicado el 29 de junio de 1999 se puede leer:
          </p>
          <p style="padding-left: 2em">
            <em>
              ‘’La Fiscalía General de la Nación dictó medida de aseguramiento de detención preventiva, sin beneficio de excarcelación, contra el soldado profesional Carlos Mario Escudero Cano, sindicado de ser el autor material de la muerte de las tres personas y de haberse apropiado de 150 millones de pesos.
              La misma providencia de la Fiscalía profirió igual medida contra el sargento viceprimero, Edgardo Enrique Barón Otero y contra los soldados, Gerardo González Zuluaga y Ferney Alberto Cardona Acevedo, como supuestos responsables de encubrimiento y participación en el robo.
              Por el múltiple crimen y hurto también tienen medida de aseguramiento el mayor David Hernández Rojas y el capitán, Diego Fernando Fino Rodríguez, comandantes militares en la zona.
              Todos están detenidos en distintas guarniciones militares de Antioquia, donde tienen libertad de movilización y comunicación, a la espera de ser llamados a juicio por la justicia ordinaria. Esta circunstancia pudo facilitar la evasión este fin de semana del mayor Hernández Rojas, quien se encontraba en las instalaciones del Batallón Yariguíes, dentro de la Cuarta Brigada.
              Según informó el comandante de esta unidad militar, general Eduardo Herrera Verbel, el pasado domingo detectaron la ausencia de Hernández Rojas y de inmediato impartió órdenes orientadas a su recaptura, así como una investigación por la fuga‘’.
            </em>
          </p>
          <p>
            Y si, el
            <em>Mayor</em>
            hasta el día de hoy sigue libre y no ha pagado por el crimen que cometió. Sin embargo, lo que más me conmueve es que esto es pan de cada día en nuestro país, basta con solo poner el noticiero (cualquiera que sea) para darnos cuenta de que se cometen muchos actos de violencia y corrupción y en la mayoría de los casos nadie paga por ello. Para liberar a Diana mi familia tuvo que pagar el rescate nuevamente y aunque a mí no me toco vivir nada de esto, si me ha afectado bastante, ya que a raíz del secuestro la mayoría de mi familia decidió irse del país y cortar cualquier conexión con Colombia.
          </p>
          <p>
            Nunca me ha faltado un hogar y jamás he pasado algún tipo de necesidad. Sin embargo, este es el caso atípico, la mayoría de las personas que son desplazadas de sus hogares por la violencia, cuando “deciden” abandonar su hogar dejan todo lo que tienen, se van sin nada, sin saber a donde van a llegar y como van a vivir. Según el informe
            <a href="http://www.centrodememoriahistorica.gov.co/descargas/informes2015/nacion-desplazada/una-nacion-desplazada.pdf"> <em>Una Nación Desplazada</em></a>,
            más de seis millones y medio de personas se han visto forzadas a desplazarse dentro y fuera del territorio nacional y esta cifra es solo hasta el 2014. Hasta el día de hoy son muchos los millones de colombianos que han tenido que abandonar sus hogares, sus bienes y costumbres, dejando todas sus formas de vida atrás.
          </p>
        <h2>De la intención al arte</h2>
          <p>
            La violencia en mi país se ha vuelto paisaje, desde pequeño hasta el día de hoy he escuchado a diario noticias sobre homicidios, atentados, desplazamiento, delincuencia, narcotráfico, corrupción y muchos más temas que en otros lugares serian inconcebibles. La historia de Manuel es una de las muchas que existen y aunque si afecto bastante a mi familia, yo no había nacido para ese entonces y nunca lo llegue a conocer. No conozco el dolor y la violencia de manera cercana, el conflicto interno nunca me ha afectado de forma directa. Esto me ha hecho perder la empatía hacia mi país, he llegado al punto de ignorar todo lo que sucede y de dar por sentadas todas las cosas malas que suceden.
          </p>
          <p>
            Se que como yo hay muchísimas personas que están tranquilas en sus hogares, que no se incomodan preguntándose ¿qué está pasando en nuestro país?, no les interesa conocer el dolor que viven millones de colombianos y se sienten cómodos con llevar esta vida. Incluso, cuando observo a mi alrededor, veo un montón de padres que ocultan a sus hijos todo lo que pasa. Considero que esto es un problema bastante serio, ya que quienes tienen mayores oportunidades se preocupan menos por los que están abajo, estamos creando una desconexión entre clases y esto intensifica la polarización. El primer paso para resolver un problema es reconocer su existencia, y estamos haciendo todo lo contrario, ni nos interesa ni queremos reconocer nuestro papel, todos los colombianos tienen igual responsabilidad a la hora de crear paz.
          </p>
          <div style="float:right; margin: 1em">
            <figure>
              <img id="output_img" src="/blog/images/output.jpg" alt="ilustración 2">
              <figcaption><em>ilustración 2.</em></figcaption>
            </figure>
            <div id="modal_proyecto_02" class="modal">
              <span id="close_02" class="close">&times;</span>
              <img class="modal_content_vertical" id="img02">
              <div id="caption_02" class="caption"></div>
            </div>
          </div> <!--- ilustración 2--->
          <p>
            Desde que comencé a hacer este trabajo, he leído varias noticias e informes para sacar datos y apoyar mis ideas. Y sucedió algo que no me esperaba, me volví mucho más sensible a la hora de procesar la información. He comenzado a cuestionar muchas cosas que considero que hemos normalizado.
          </p>
          <p>
            Cuando buscas en Google “homicidios en Colombia”, “desplazamiento en Colombia” o “violencia en Colombia” la cantidad de noticias que encuentras es sorprendente, la lista pareciera no tener fin y esto sin tener en cuenta lo que se escucha en la radio o lo que se ve en la televisión. Cada caso pasa de ser una tragedia a una estadística.
          </p>
          <p>
            Me detuve un día a pensar como podría llevar esta situación a una expresión artística, pues considero que el arte es el nivel más elevado que tiene el ser humano para abrirse a los demás y expresar sentimientos e ideas. Desafortunadamente nunca he sido muy bueno con las manos para pintar o realizar manualidades, tampoco me considero muy elocuente para dar un discurso o escribir un poema. Así que me pregunté ¿en qué soy bueno?, ¿qué es lo que me gusta hacer? Y ¿cómo podría llevarlo al nivel artístico? Así fue como surgió la
            <em>ilustración 2</em>.
          </p>
          <p>
            La fotografía que ven en realidad es un fotomosaico. En el mundo de las imágenes este estilo es conocido por poder visualizar una imagen principal cuando se observa de lejos, pero inmediatamente te acercas puedes ver que está compuesta por cientos (o miles) de pequeñas imágenes, así que en su conjunto forman una imagen principal, pero desde lo particular son imágenes independientes.
          </p>
        <h2>Explicando el fotomosaico</h2>
          <div style="margin: 1em">
            <figure>
              <img id="explanation_img" src="/blog/images/explicacion_fotomosaico.jpg" alt="ilustración 3">
              <figcaption><em>ilustración 3.</em></figcaption>
            </figure>
            <div id="modal_proyecto_03" class="modal">
              <span id="close_03" class="close">&times;</span>
              <img class="modal_content_horizontal" id="img03">
              <div id="caption_03" class="caption"></div>
            </div>
          </div> <!--- ilustración 3--->
          <p>
            El fotomosaico (<em>ilustración 2</em>) está compuesto por cien imágenes y fotografías diferentes que fueron extraídas de noticias en internet, las cuales hablan sobre la violencia y los problemas sociales que existen en Colombia.
            La <em>ilustración 3</em> nos permite ver de forma intuitiva lo que se explicó anteriormente. Cómo podemos observar, el fotomosaico está compuesto por una gran cantidad de pequeñas fotos e imágenes, que en su conjunto recrean la foto original de Manuel. En palabras sencillas es como si cada píxel fuese reemplazado por una imagen de alguna de las noticias que se buscaron en internet. Obsérvese el
            "<span style="color: #e31c3d; padding: unset"><strong>Zoom</strong></span>" que se hace en el pómulo de Manuel, aquí se pueden ver las fotos individuales que componen esta parte del fotomosaico.
          </p>
          <p>
            Para llevar esta tarea a cabo tuve que desarrollar un código utilizando el lenguaje de programación Python 3. Este se ocupa de extraer las fotos de internet y de recrear la fotografía de Manuel en estilo de fotomosaico.
          </p>
        <h2>¿Cómo funciona el código?</h2>
          <p>
            El programa se divide en tres:
          </p>
          <!--- Pasos de como funciona el código --->
          <li>
            <h3>1.	Reunir las imágenes que se utilizarán para alimentar el fotomosaico</h3>
              <p style="padding-left: 2em">
                Para poder realizar la obra, primero debía de recolectar una gran cantidad de imágenes. Para conseguirlas, cree un “web crawler” que busca en Google las noticias más relevantes en los siguientes temas: violencia en Colombia, secuestros en Colombia, desplazamiento forzado en Colombia, desaparecidos en Colombia y narcotráfico en Colombia. Por cada tema el web crawler selecciona las primeras 20 noticias que aparecen en Google y extrae sus imágenes (una imagen por noticia) y las guarda en una carpeta que al final del proceso contendrá cien elementos (5 temas y 20 imágenes por cada tema).
              </p>
          </li>
          <li>
            <h3>2.	Convertir las imágenes extraídas en el paso anterior a escala de grises</h3>
              <p style="padding-left: 2em">
                Como la foto de Manuel se encuentra en escala de grises (lo que comúnmente llamamos blanco y negro) fue necesario editar las imágenes, pasándolas de color a escala de grises. Para cumplir con esta tarea, se implementó un algoritmo que se encarga de hacer la edición para las cien imágenes y así evitar hacerlo manualmente.
              </p>
          </li>
          <li>
            <h3>3.	Crear el fotomosaico</h3>
              <p style="padding-left: 2em">
                Ya una vez que tuve las imágenes en escala de grises, se utilizó una función que recibe como input una imagen principal (para este caso es la fotografía de Manuel) y utiliza las cien imágenes que están en blanco y negro para crear un fotomosaico recreando el input.
              </p>
          </li>
          <!--- FIN Pasos de como funciona el código --->
          <p>
            <strong><em>Importante:</em></strong>
            Si deseas ver más sobre el código o quisieras probarlo con tus propias imágenes, puedes encontrarlo en
            <a href="https://github.com/santiagobedoa/photomosaic_generator" target="_blank">GitHub</a>.
            Si visitas el repositorio, te sugiero que hagas clic sobre la imagen "output" que se encuentra de ejemplo y así podrás ver el fotomosaico en alta definición.
          </p>
        <h2>Reflexión</h2>
          <p>
            Comencé este relato contando la historia de mi familia. A lo largo del proceso me di cuenta de que solo es una de las muchas historias que hay. Me parecía injusto hacer un homenaje solo a Manuel cuando hay millones de personas y familias que han pasado por situaciones mucho más difíciles. El fotomosaico de Manuel es una buena aproximación a la intención de este trabajo. Si nos quedamos en lo superficial solo vemos nuestra historia, solo nos quedamos con nuestra experiencia, creyendo que nos ha tocado vivir algo difícil y preguntándonos ¿Por qué a mí?, ¿Por qué a mi familia?, pero en el momento en que nos detenemos a observar con mayor atención, cuando nos informamos un poco, nos damos cuenta de que solo es una
            <strong style="color: #e31c3d">gota en un océano</strong> de historias.
          </p>
        <div class="button_container">
          <a href="/blog/index.html" class="button">volver al home</a>
        </div>
      </article>
      <aside>
        <div id="disqus_thread"></div>
      </aside> <!--- disqus--->
    </main>
    <footer>
      <div id="social">
        <ul>
          <li>
            <p id="share_text">Compártenos:</p>
            <div id="fb-root"></div>
            <div class="fb-share-button" data-href="https://es-la.facebook.com/HolbertonSchoolColombia/" data-layout="button" data-size="small">
              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fes-la.facebook.com%2FHolbertonSchoolColombia%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a>
            </div> <!--- facebook--->
            <div style="padding-top: 0.8em; padding-bottom: 1em">
              <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
            </div> <!--- twitter--->
          </li>
        </ul>
      </div> <!--- botones para compartir--->
      <p id="footer_text">Hecho por Santiago Bedoya para:</p>
      <a href="https://apply.holbertonschool.com">
        <img src="https://apply.holbertonschool.com/holberton-logo.png">
      </a>
    </footer> <!--- footer--->
  </body>
</html>