<!DOCTYPE html>
<html>
  <head>
    <title>
      Gota en un océano de violencia
    </title>
    <meta charset="UTF-8">
    <link href="./playground.css" rel="stylesheet">
    <link href="/blog/header_footer_style.css" rel="stylesheet">
    <script src="./behavior_playground.js"></script>
    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://proyecto-holberton.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script> <!--- disqus --->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v12.0" nonce="UyNLuv0r"></script> <!--- facebook --->
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> <!--- disqus --->
  </head>
  <body>
    <header>
      <span class="logo">
        <a href="/blog/index.html">Blog</a>
      </span>
      <nav>
        <ul>
          <li>
            <a href="/blog/views/proyecto/proyecto.html" class="proyecto">proyecto</a>
          </li> <!--- proyecto--->
          <li>
            <a href="playground.html" class="playground">¿Por qué Holberton?</a>
          </li> <!--- por qué Holberton--->
        </ul>
      </nav>
    </header> <!--- navegation var--->
    <main>
      <article>
        <h1>¿Por que Holberton?</h1>
        <p>
          Un tema que siempre me ha tenido inconforme acerca del sistema educativo tradicional, tiene que ver con la uniformidad en términos de biodiversidad de los estudiantes y la manera como se trasmite el conocimiento.
        </p>
        <p>
          En la primaria y el bachillerato, los salones se conforman teniendo en cuenta como único parámetro la edad, dejando por fuera los intereses personales de los estudiantes. Jamás se habla sobre cuál es el estilo educativo más apto para cada estudiante. Todos tenemos ritmos y estilos de aprendizaje muy diferentes. Algunas personas son muy buenas para concentrarse durante largos periodos de tiempo, mientras que otras necesitan hacer pausas constantemente, ya que pierden el foco rápidamente. A algunos les va mejor aprendiendo de la teoría y los libros, mientras que otros son más prácticos y prefieren hacer proyectos para interiorizar el nuevo conocimiento. Durante la etapa escolar eres medido según la capacidad que tengas de acoplarte al sistema educativo, desconociendo tus habilidades y esos rasgos y características que te hacen único.
        </p>
        <p>
          Aunque es cierto que en la universidad existe un mayor grado de libertad, sigue estando presente el aspecto de homogeneidad. Aunque allí se puedan encontrar más posturas políticas, religiosas y sociales sigue estando muy presente el factor edad, lo que nos lleva a que los estudiantes se encuentren en etapas muy similares de la vida. Lo común es que ingresemos a la universidad una vez terminemos el bachillerato.
        </p>
        <p>
          En este punto es donde encuentro la primera fortaleza de Holberton frente a las instituciones académicas tradicionales. El Acuerdo de Ingresos Compartidos (AIC) brinda enormes posibilidades a las personas con menos recursos y a otras que se encuentren en una etapa de vida donde sea difícil estudiar.
        </p>
        <p>
          Traigamos como ejemplo a un padre de familia que desea cambiar su carrera profesional. Bien puede que tenga el dinero suficiente para vivir dos años de sus ahorros, pero a lo mejor puede que no tenga lo suficiente para pagar una matrícula de una universidad. El AIC no solo promueve la inclusión, sino también la diversidad que se viven dentro de las aulas de Holberton.
        </p>
        <p>
          Las personas que ingresan a este programa es por qué comparten una pasión y una meta. El hecho de estudiar con personas de distintas proveniencias y edades, hace que se viva un ambiente de mucha innovación, pues existirán muchas maneras de pensar y ver las cosas, lo cual genera un ambiente que impulsa la creatividad.
        </p>
        <p>
          Otro punto importante que vale la pena resaltar es en el método educativo que implementa Holberton. El sistema educativo tradicional se preocupa por desarrollar unas competencias básicas. Años atrás, cuando la información era limitada esto resultaba bastante util, pero en la actualidad, con la democratización del internet, tenemos cualquier información al alcance de un clic.
        </p>
        <p>
          El papel de los educadores del siglo XXI debe estar orientado a generar motivación, curiosidad por aprender y generar conciencia sobre la importancia del conocimiento. El papel de un docente que solo transmita información ya es obsoleto. Los profesores o tutores deben de hacer a los estudiantes muy buenos autodidactas, deben mostrar a sus alumnos fuentes de conocimiento valiosas y enseñar a aprovechar todo el conocimiento que se encuentra disponible para que creen cosas increíbles. Aquí es donde encuentro el segundo punto donde metodologías como las de Holberton sobrepasan al sistema educativo tradicional.
        </p>
        <h2>Fotomosaico Holberton</h2>
        <div style="margin: 1em">
          <figure>
            <img id="logo_full_color" src="/blog/images/holberton_input.jpg" alt="ilustración 1">
            <figcaption><em>ilustración 1.</em></figcaption>
          </figure>
          <div id="modal_playground_01" class="modal">
            <span id="close_playground_01" class="close">&times;</span>
            <img class="modal_content_horizontal" id="img_playground_01">
            <div id="caption_playground_01" class="caption"></div>
          </div>
        </div> <!--- ilustración 1--->
        <p>
          Cómo mencione en
          <span style="color: #a5394e;">“Gota en un océano”</span>
          , no soy muy buen artista y creo que la
          <em>ilustración 1 </em>
           lo demuestra 😂. Pero lo importante es que diseñe este logo teniendo en cuenta dos de las grandes cualidades de Holberton: la inclusión y la diversidad.
        </p>
        <p>
          Para realizar el fotomosaico de Holberton pase como parámetros: "atardeceres", "flores amarillas", "árboles, pinturas moradas", "océano" y "paredes blancas". Como ya saben, el algoritmo extrae de Google Images 20 fotos por cada uno de los temas anteriores y generaría la
          <em>ilustración 2 </em>
           , dejando como resultado:
        </p>
        <div style="margin: 1em">
          <figure>
            <img id="logo_fotomosaico" src="/blog/images/holberton_output.jpg" alt="ilustración 2">
            <figcaption><em>ilustración 2.</em></figcaption>
          </figure>
          <div id="modal_playground_02" class="modal">
            <span id="close_playground_02" class="close">&times;</span>
            <img class="modal_content_horizontal" id="img_playground_02">
            <div id="caption_playground_02" class="caption"></div>
          </div>
        </div> <!--- ilustración 2--->
        <p>
            <strong><em>Importante:</em></strong>
            Si deseas ver más sobre el código o quisieras probarlo con tus propias imágenes, puedes encontrarlo en
            <a href="https://github.com/santiagobedoa/photomosaic_generator" target="_blank">GitHub</a>.
            Si visitas el repositorio, te sugiero que hagas clic sobre la imagen "output" que se encuentra de ejemplo y así podrás ver el fotomosaico en alta definición.
          </p>
        <h2>Otras ideas</h2>
        <p>
          Se podría crear una base de datos que contenga imágenes de estudiantes de Holberton, Casos de exito de Holberton y temas relacionados con tecnología e innovación para crear un fotomosaico que sea dinámico, es decir, que cambie de día a día, pasándole como input el logo de Holberton y utilizando imágenes de forma aleatorias de la base de datos.
        </p>
        <div class="button_container">
          <a href="/blog/index.html" class="button">volver al home</a>
        </div>
      </article>
      <aside>
        <div id="disqus_thread"></div>
      </aside> <!--- disqus--->
    </main>
    <footer>
      <div id="social">
        <ul>
          <li>
            <p id="share_text">Compártenos:</p>
            <div id="fb-root"></div>
            <div class="fb-share-button" data-href="https://es-la.facebook.com/HolbertonSchoolColombia/" data-layout="button" data-size="small">
              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fes-la.facebook.com%2FHolbertonSchoolColombia%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a>
            </div> <!--- facebook--->
            <div style="padding-top: 0.8em; padding-bottom: 1em">
              <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
            </div> <!--- twitter--->
          </li>
        </ul>
      </div> <!--- botones para compartir--->
      <p id="footer_text">Hecho por Santiago Bedoya para:</p>
      <a href="https://apply.holbertonschool.com">
        <img src="https://apply.holbertonschool.com/holberton-logo.png">
      </a>
    </footer> <!--- footer--->
  </body>
</html>